pre {font-family: Consolas,monospace}
pre.messageText {display:inline-block; margin:0px;}
pre.messageInfo {outline: 1px solid #ccc; padding: 5px; margin: 5px; display:none;margin-bottom: 15px;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.consoleButtonsPanel {
    position:fixed;
    top:40px;
    right:30px;
    align:right;
}

.consoleButtons {
    min-height:40px;
    width:100%;
}

.ui-layout-south{
	color:white;
	padding: 5px; 
	background: rgb(150,0,0);
	font-weight: bold;
}

#jstree {
	position: absolute;
	left: -8px;
}
table.HttSubtable {
	display:none;
}
div.timing-block-opener {
	height:5px; 
	width:100%; 
	background-color:rgb(142, 205, 255); 
}